<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealTime Location Sharing</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/2.0.0-alpha.1/leaflet.min.css"
        integrity="sha512-RwINvBFRNxoQv/j3NZkNLNsukXAQ6rSeh1eDG3DipDXYbQ4jnyPLUGb4MWXvw1tHLCgA+Sxkd2afJSDpLwjAEQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="map"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/2.0.0-alpha.1/leaflet.js"
    integrity="sha512-QUl65f9cexykSbNrG6nS4gsG1yhNP1hyClc8qFFvTATGXBZT7r9/dlQaBocLQycXQPQgRWPayOBe01xzOsEv5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
    integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
    crossorigin="anonymous"></script>

<script src="/js/script.js"></script>

</html>